In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
CREATE TABLE column_3C_weka (
    pelvic_incidence DOUBLE,
    pelvic_tilt DOUBLE,
    lumbar_lordosis_angle DOUBLE,
    sacral_slope DOUBLE,
    pelvic_radius DOUBLE,
    degree_spondylolisthesis DOUBLE,
    class VARCHAR(50)
) AS SELECT
    pelvic_incidence,
    pelvic_tilt,
    lumbar_lordosis_angle,
    sacral_slope,
    pelvic_radius,
    degree_spondylolisthesis,
    class
FROM CSVREAD('../data/column_3C_weka.csv');

In [3]:
select * from column_3c_weka

# Modelo Conceitual

### Antes:
![uml-etapa01](../img/uml-etapa01.png)

### Depois:


#### Motivo

# Modelo Logico

![modelo-logico](../img/modelo-logico.png)

# Tabelas Relacionais

In [4]:
CREATE TABLE Caracteristica (
    idCaracteristica INTEGER,
    nomeCaracteristica VARCHAR(50),
    PRIMARY KEY(idCaracteristica)
);

CREATE TABLE Sintoma (
    idSintoma INTEGER,
    localizacaoCorpo VARCHAR(50),
    descricao VARCHAR(200),
    PRIMARY KEY(idSintoma)
);

CREATE TABLE Classificacao (
    idClassificacao INTEGER,
    classe VARCHAR(50),
    PRIMARY KEY(idClassificacao)
);


CREATE TABLE ClassificacaoTemSintoma (
    IdClassificacaoTemSintoma INTEGER,
    idClassificacao INTEGER,
    idSintoma INTEGER,
    PRIMARY KEY(IdClassificacaoTemSintoma, idClassificacao, idSintoma),
    FOREIGN KEY(idClassificacao)
        REFERENCES Classificacao(idClassificacao)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION,
    FOREIGN KEY(idSintoma)
        REFERENCES Sintoma(idSintoma)
          ON DELETE NO ACTION
          ON UPDATE NO ACTION
);

CREATE TABLE Paciente (
    idPaciente INTEGER,
    idClassificacao INTEGER,
    PRIMARY KEY(idPaciente),
    FOREIGN KEY(idClassificacao)
        REFERENCES Classificacao(idClassificacao)
          ON DELETE NO ACTION
          ON UPDATE NO ACTION
);

CREATE TABLE PacientePossuiCaracteristica (
    idPacienteCaracteristica INTEGER, 
    idPaciente INTEGER,
    idCaracteristica INTEGER, 
    valor DOUBLE,
    PRIMARY KEY(idPacienteCaracteristica, idPaciente, idCaracteristica),
    FOREIGN KEY(idPaciente)
        REFERENCES Paciente(idPaciente)
          ON DELETE NO ACTION
          ON UPDATE NO ACTION,
    FOREIGN KEY(idCaracteristica)
        REFERENCES Caracteristica(idCaracteristica)
          ON DELETE NO ACTION
          ON UPDATE NO ACTION
);

# todo