In [1]:
%defaultDatasource jdbc:h2:mem:db

# Base de Dados

In [2]:
CREATE TABLE column_3C_weka (
    pelvic_incidence DOUBLE,
    pelvic_tilt DOUBLE,
    lumbar_lordosis_angle DOUBLE,
    sacral_slope DOUBLE,
    pelvic_radius DOUBLE,
    degree_spondylolisthesis DOUBLE,
    class VARCHAR(50)
) AS SELECT
    pelvic_incidence,
    pelvic_tilt,
    lumbar_lordosis_angle,
    sacral_slope,
    pelvic_radius,
    degree_spondylolisthesis,
    class
FROM CSVREAD('../data/column_3C_weka.csv');

ALTER TABLE column_3c_weka
ADD idPaciente INTEGER AUTO_INCREMENT;

In [3]:
SELECT * FROM column_3c_weka;

# Modelo Conceitual

### Antes:
![uml-etapa01](../img/uml-etapa01.png)

### Depois:
![uml-etapa02](../img/UML-etapa-02.png)

#### Motivo
* Modificação nos atributos da classe Paciente: agora ela possui somente o identificador do paciente chamado idPaciente, os atributos referentes à situação do mesmo (como Incidência Pélvica, Versão Pélvica, etc) foram transferidos para outras classes a fim de que se pudesse, caso surgisse uma nova característica (novo tipo de medição da Pelve, por exemplo) seria possível adicioná-la ao banco;  
* Seguindo a modificação do Paciente, foram adicionadas duas novas classes: Possui e Característica. Cada Paciente possui várias características (N:N), sendo que o valor do relacionamento entre o Paciente e sua Característica fica na classe intermediária Possui - por exemplo, João (Paciente) tem uma Incidência Pélvica (Característica) de valor 60° (Possui) e Maria (Paciente) tem uma Incidência Pélvica (Característica) de 70° (Possui);  
* Mudança no nome da classe Doença para Classificação e tipoDoença para classe, pois havia certos pacientes classificados como “Normal”, o que não caracterizava um problema.

# Modelo Logico

![modelo-logico](../img/modelo-logico.png)

# Tabelas Relacionais

In [4]:
DROP TABLE IF EXISTS ClassificacaoTemSintoma;
DROP TABLE IF EXISTS PacientePossuiCaracteristica;
DROP TABLE IF EXISTS Caracteristica;
DROP TABLE IF EXISTS Sintoma;
DROP TABLE IF EXISTS Classificacao;
DROP TABLE IF EXISTS Paciente;

CREATE TABLE Caracteristica (
    nomeCaracteristica VARCHAR(50),
    PRIMARY KEY(nomeCaracteristica)
);

CREATE TABLE Sintoma (
    idSintoma INTEGER AUTO_INCREMENT,
    localizacaoCorpo VARCHAR(50),
    descricao VARCHAR(200),
    PRIMARY KEY(idSintoma)
);

CREATE TABLE Classificacao (
    classe VARCHAR(50),
    PRIMARY KEY(classe)
);

CREATE TABLE ClassificacaoTemSintoma (
    IdClassificacaoTemSintoma INTEGER AUTO_INCREMENT,
    classe VARCHAR(50),
    idSintoma INTEGER,
    FOREIGN KEY(classe)
        REFERENCES Classificacao(classe)
            ON DELETE CASCADE
            ON UPDATE CASCADE,
    FOREIGN KEY(idSintoma)
        REFERENCES Sintoma(idSintoma)
          ON DELETE CASCADE
          ON UPDATE CASCADE
);

CREATE TABLE Paciente (
    idPaciente INTEGER AUTO_INCREMENT,
    classe VARCHAR(50),
    PRIMARY KEY(idPaciente),
    FOREIGN KEY(classe)
        REFERENCES Classificacao(classe)
          ON DELETE CASCADE
          ON UPDATE CASCADE
);

CREATE TABLE PacientePossuiCaracteristica (
    idPacienteCaracteristica INTEGER AUTO_INCREMENT, 
    idPaciente INTEGER,
    nomeCaracteristica VARCHAR(50), 
    valor DOUBLE,
    PRIMARY KEY(idPacienteCaracteristica),
    FOREIGN KEY(idPaciente)
        REFERENCES Paciente(idPaciente)
          ON DELETE CASCADE
          ON UPDATE CASCADE,
    FOREIGN KEY(nomeCaracteristica)
        REFERENCES Caracteristica(nomeCaracteristica)
          ON DELETE CASCADE
          ON UPDATE CASCADE
);

SELECT * FROM Paciente;
SELECT * FROM PacientePossuiCaracteristica;
SELECT * FROM Caracteristica;
SELECT * FROM Classificacao;
SELECT * FROM ClassificacaoTemSintoma;
SELECT * FROM Sintoma;

# Inserção dos dados no modelo lógico

Inserção das classificações possíveis (Hérnia, Normal e Espondilolistese)

In [5]:
INSERT INTO Classificacao(classe)
SELECT DISTINCT class FROM column_3C_weka;

Inserção dos pacientes

In [6]:
INSERT INTO Paciente(idPaciente, classe)
SELECT idPaciente, class FROM column_3c_weka;

Inserção das características dos pacientes (Inclinação Sacral, Versão Pélvica, etc)

In [7]:
INSERT INTO Caracteristica (nomeCaracteristica) VALUES 
('Incidencia Pelvica'),
('Versao Pelvica'),
('Angulo Lordose Lombar'),
('Inclinacao Sacral'),
('Raio Pelvico'),
('Grau de Espondilolistese');

Inserção dos valores das características de cada paciente

In [8]:
INSERT INTO PacientePossuiCaracteristica (idPaciente, valor)
SELECT idPaciente, pelvic_incidence FROM column_3c_weka;

UPDATE PacientePossuiCaracteristica SET NomeCaracteristica = 'Incidencia Pelvica' 
WHERE idPacienteCaracteristica >= 1 AND idPacienteCaracteristica <= 310;

In [9]:
INSERT INTO PacientePossuiCaracteristica (idPaciente, valor)
SELECT idPaciente, pelvic_tilt FROM column_3c_weka;

UPDATE PacientePossuiCaracteristica SET NomeCaracteristica = 'Versao Pelvica' 
WHERE idPacienteCaracteristica >= 311 AND idPacienteCaracteristica <= 620;

In [10]:
INSERT INTO PacientePossuiCaracteristica (idPaciente, valor)
SELECT idPaciente, lumbar_lordosis_angle FROM column_3c_weka;

UPDATE PacientePossuiCaracteristica SET NomeCaracteristica = 'Angulo Lordose Lombar' 
WHERE idPacienteCaracteristica >= 621 AND idPacienteCaracteristica <= 930;

In [11]:
INSERT INTO PacientePossuiCaracteristica (idPaciente, valor)
SELECT idPaciente, sacral_slope FROM column_3c_weka;

UPDATE PacientePossuiCaracteristica SET NomeCaracteristica = 'Inclinacao Sacral' 
WHERE idPacienteCaracteristica >= 931 AND idPacienteCaracteristica <= 1240;

In [12]:
INSERT INTO PacientePossuiCaracteristica (idPaciente, valor)
SELECT idPaciente, pelvic_radius FROM column_3c_weka;

UPDATE PacientePossuiCaracteristica SET NomeCaracteristica = 'Raio Pelvico' 
WHERE idPacienteCaracteristica >= 1241 AND idPacienteCaracteristica <= 1550;

In [13]:
INSERT INTO PacientePossuiCaracteristica (idPaciente, valor)
SELECT idPaciente, degree_spondylolisthesis FROM column_3c_weka;

UPDATE PacientePossuiCaracteristica SET NomeCaracteristica = 'Grau de Espondilolistese' 
WHERE idPacienteCaracteristica >= 1551 AND idPacienteCaracteristica <= 1860;

In [14]:
SELECT * FROM Classificacao;
SELECT * FROM Paciente;
SELECT * FROM Caracteristica;
SELECT * FROM PacientePossuiCaracteristica;

# Querys Criativas